# Python virtual environment
venv/
env/
.venv/
.env/

# PyCharm
.idea/

# VS Code
.vscode/

# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Log files
*.log

# Database files
*.db
*.sqlite3

# Temporary files
*.tmp
*.bak
*.swp

# Config file with sensitive information
config.py

# npm
node_modules/