<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify T-SNE Visualization</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <h1>Spotify T-SNE Visualization</h1>
    <button id="authorizeButton">Authorize Spotify</button>
    <div id="plotContainer"></div>
    <script src="/static/js/main.js"></script>
  </body>
</html>
